.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: 0;
  outline: 0;
}

.active {
  font-weight: 500;
}

.dropdown-item {
  cursor: pointer;
}

.nav-link.badge {
  padding: 0.5rem;
}
